.main-chat
  /*グループ名とメンバー、Editボタンを表示*/
  .main-chat__group-info
    .infomation
      .group-name
        = @group.name
      .member
        - @group.users.each do |user|
          = user.name
      .edit-group
        = link_to edit_group_path(@group), class: "edit-group__btn" do
          Edit

  /*メッセージの一覧を表示*/
  .main-chat__message-list
    = render @messages

  /*メッセージフォームを表示*/
  .main-chat__message-form
    = form_for [@group, @message] do |f|
      .input-box
        = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'input-box__image__file'
      = f.submit 'Send', class: 'submit-btn'