.side-bar
  /*ユーザー名・アイコンを表示*/
  .side-bar__user-name
    .box
      = current_user.name
      .logo
        = link_to new_group_path, class: "new-group-btn" do
          = icon('far', 'edit')
        = link_to edit_user_path(current_user), class: "edit-user-btn" do
          = icon('fas', 'cog')

  /*グループ名と最新メッセージをリストで表示*/
  .side-bar__group-list
    .group-box
      - current_user.groups.each do |group|
        .groups
          = link_to messages_path, class: "link" do
            .group
              %p.group__name
                = group.name
              %p.group__message
                メッセージはまだありません。